body {
background-color: black;
color: white;
border-radius: 5px;
border-style: double;
border-color: aqua;
border-width: 5px;
height: 500 px;
text-align: center;
}

.every-odd li:nth-child(odd) {
    background-color: blue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10 px;
    text-align: center;
    border-bottom: 1px solid black;
}

div {
    color: blue;
    background-color: aquamarine;
}

#intro-paragraph {
    font-size: large;
}
